body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: justify;
    margin-left: 20px;
}

h2 {
    background-color: #0066FF;
    color: #CCCCFF;
    padding: 2px;
}

img {
    height: 200px;
    width: 200px;
}

th {
    text-align: center;
}

footer {
    text-align: center;
    color: gray;
}

p {
    line-height: 10pt;
    margin-left: 10pt;
}

#dadospessoais {
    text-align: center;
}